.NavBarGradient {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

@media (prefers-color-scheme: dark) {
    .NavBarGradient {
        background: -webkit-linear-gradient(left, #0072ff, #2593b2);
    }
}

.containerRelative {
    position: relative;
    overflow: auto;
}

.bgForm {
    background: white;
}

@media (prefers-color-scheme: dark) {
    .bgForm {
        background: black;
    }
}


.paddingContactPage1 {
    padding-top: 15vh;
}

.paddingContactPage2 {
    padding: 5vh;
    border-radius: 2%;
}

input {
    border-radius: 10vh;

}


.paddingTextMessage {
    padding-bottom: 30px;
}

.flexDisplayMessage {
    display: flex;
}

.logoContactCenter{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}